<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <h2>Full list</h2>
    <ul>
      <li ng-repeat="one in all">{{one}}</li>
    </ul>
    
    <h2>Paste attendees</h2>
    <textarea  rows='11' cols="30" ng-model="attendees"  ng-change="change()"> </textarea><br/>

     <h2>Generated list</h2>
    
     <textarea  rows='11' cols="30" ng-model="result" > </textarea><br/>

    
    <script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.all=  ['one', 'two', 'three', 'four', 'five', 'six', 'tom'];
    
    $scope.change = function() {
        var allCopy =$scope.all.slice();
        
        var output = new Array(allCopy.length);
        var notFound = new Array();
 
            $scope.attendees.split(/\r?\n/).forEach((item, index) =>{
                var idx = allCopy.indexOf(item);
                console.log(idx);
                if(idx>=0)
                {
                    output[idx]=item;
                }
                else {
                       notFound.push(item);
                }
            });
         
        if(notFound.length>0)
        {
            output.push("Cannot find the following:");
            output.push(notFound.join("\n"));
        }
        
        $scope.result="";
        $scope.result=output.join("\n");
      };
    
});
</script>
</body>
</html>